


@import "flatpickr/dist/flatpickr.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.fc .fc-button-primary {
  background: oklch(0.511 0.262 276.966);
  outline-width: 0px;
  border: 0;
}
.fc .fc-button-primary:hover {
  background: oklch(0.398 0.195 277.366);
  outline-width: 0px;
  border: 0;
}



[x-cloak] {
    display: none;
}

.transition-height {
    transition: max-height 0.25s ease-out;
}

.transition-width {
    transition: max-width 0.3s ease-out;
}

.swiper {
  width: 100%;
  height: 600px;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.masonry {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 10px;
  gap: 20px;
}

.image {
  height: 100%;
  min-width: 100%;
}


.image-gallery {
  columns: 5;
  column-gap: 16px;
  margin: 1rem;
}

.image-card {
  position: relative;
  margin-bottom: 16px;
}

@media screen and (max-width: 1200px) {
  .image-gallery {
    columns: 5;
  }
}

@media screen and (max-width: 900px) {
  .image-gallery {
    columns: 3;
  }
}

@media screen and (max-width: 500px) {
  .image-gallery {
    columns: 1;
  }
}

.image-grid {
  margin-top: 10%;
  gap: 5px;
  width: 100%;
  height: 55vh;
  margin: 0 auto;
  .second {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .main:hover {
    opacity: 60%;
  }
  .image-box {
    width: 50%;
    height: 100%;
    .main-img {
      object-fit: cover;
      border-radius: 15px 0 0 15px;
      width: 100%;
      height: 100%;
    }
    .image-row {
      height: calc(50% - 2.5px);
      width: 100%;
      display: flex;
      gap: 5px;
      div {
        width: 100%;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      div:hover {
        opacity: 60%;
      }
      &:first-child div:nth-child(2) img {
        border-top-right-radius: 15px; /* Top right border radius */
      }

      &:last-child div:nth-child(2) img {
        border-bottom-right-radius: 15px; /* Bottom right border radius */
      }
    }
  }
}

th, td {
vertical-align:top;
}

 #map {
  height: 400px;
  width: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}



.pac-item {
  padding-block: 6px;

  font-family: sans-serif
}



